.conteudo_meio{
    width: 1060px;
    margin: 0px auto;
}

.listagem_imoveis{
    width: 515px;
    /*height: 266px;*/
    float: left;
    border: solid 1px #cacaca;
    margin: 0px 10px 10px 0px;
}

.titulo_imovel{
    color: #656565;
    font-family: Arial;
    font-size: 18px;
    padding: 10px 5px 10px 10px;
    float: left;
    width: 500px;
}

.foto_imovel{
    width: 234px;
    height: 155px;
    float: left;
}

.tarja_vermelha{
    position: absolute;
    background-color: red;
    color: white;
    font-size: 13px;
    font-family: Arial;
    /* width: 47px; */
    /* height: 17px; */
    padding: 5px 5px 5px 7px;
    float: left;
}

.informacoes_imovel{
    width: 278px;
    float: left;
}

.preco_imovel{
    background: red;
    padding: 5px 5px 5px 5px;
    color: white;
    font-family: Arial;
    font-weight: bolder;
    font-size: 21px;
}

.resumo-imovel{
    font-family: arial;
    font-size: 12px;
    color: #c1c1c1;
    line-height: 14px;
    margin: 10px 10px 10px 10px;
}

.ir_imovel{
    font-family: arial;
    color: #272727;
    font-size: 14px;
    margin: 10px 10px 10px 10px;
}

.dados-imovel{
    width: 493px;
    float: left;
    background-color: whitesmoke;
    border: 1px solid #e0e0e0;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    height:20px;
}

.caracteristica_imovel{
    float: left;
    width: 23%;
    /*border: 1px solid #d8d8d8;*/
    font-family: arial;
    font-size: 13px;
    padding: 4px 0px 4px 0px;
}


.exibe_imovel_conteudo{
    width: 1140px;
    margin: 0px auto;
}

.coluna01{
    float: left;
    width: 624px;
}

.galeria{
    float: left;
}

.foto_grande{
    float: left;
    padding: 5px 5px 5px 5px;
}

.tarja_informacao{
    position: absolute;
    background-color: red;
    color: white;
    font-family: arial;
    padding: 10px 30px 10px 30px;
    font-size: 26px;
    margin: 44px 0px 0px 0px;
}

.tarja_preco{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: -85px 0px 0px 0px;
    /* height: 89px; */
    float: left;
    width: 614px;
    font-size: 40px;
    font-family: arial;
    padding: 20px 0px 20px 10px;
}

.fotos_menores{
    float: left;
}

.todas_as_fotos{
    float: left;
    padding: 5px 5px 5px 5px;
}

.video_imovel{
    float: left;
}

.coluna02{
    float: left;
    width: 410px;
    padding: 0px 0px 0px 20px;
}

.codigo_imovel{
    /* width: 300px; */
    padding: 15px 15px 15px 15px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: arial;
    float: left;
    margin: 4px 0px 0px 0px;
}

.titulo_imovel_exibe{
    float: left;
    font-family: arial;
    font-weight: bold;
    font-size: 33px;
    padding: 12px 0px 15px 0px;
    line-height: 39px;
    letter-spacing: -1px;
}

.descricao_imovel{
    float: left;
    font-family: arial;
    color: #888888;
    font-size: 15px;
    margin: 0px 0px 25px 0px;
}

.dados-imovel{
    width: 493px;
    float: left;
    background-color: whitesmoke;
    border: 1px solid #e0e0e0;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    height: 20px;
}

.caracteristica_imovel{
    float: left;
    width: 23%;
    /* border: 1px solid #d8d8d8; */
    font-family: arial;
    font-size: 13px;
    padding: 4px 0px 4px 0px;
}

.endereco_imovel{
    float: left;
    font-family: arial;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    color: #383838;
}

.ver_mapa_imovel a{
    float: left;
    padding: 15px 20px 15px 20px;
    background-color: red;
    margin: 11px 200px 0px 0px;
    color: white;
    font-size: 20px;
    font-family: arial;
    letter-spacing: 0px;
    font-weight: bold;
    text-decoration:none;
}


