.container {
    width: 100%!important;
}

.conteudo_meio{
	width: 1060px;
    margin: 0px auto;
}

.listagem_imoveis{
	/*width: 515px;*/
    /*height: 266px;*/
    /*float: left;*/
    border: solid 1px #cacaca;
    margin: 0px 10px 10px 0px;
	position: relative;
}

.titulo_imovel{
	color: #656565;
    font-family: Arial;
    font-size: 18px;
    padding: 10px 5px 10px 10px;
    /*float: left;
    width: 500px;*/
}

.foto_imovel{
	/*width: 234px;
    height: 155px;
    float: left;*/
}

.tarja_vermelha{
	position: absolute;
    background-color: red;
    color: white;
    font-size: 13px;
    font-family: Arial;
    /* width: 47px; */
    /* height: 17px; */
    padding: 5px 5px 5px 7px;
    float: left;
}

.informacoes_imovel{
	/*width: 100%;
    float: left; 
    position: absolute;*/
}

.preco_imovel{
	background: red;
    padding: 5px 5px 5px 5px;
    color: white;
    font-family: Arial;
    font-weight: bolder;
    font-size: 21px;
}

.resumo-imovel{
	font-family: arial;
    font-size: 12px;
    color: #c1c1c1;
    line-height: 14px;
    margin: 10px 10px 10px 10px;
}

.ir_imovel{
	font-family: arial;
    color: #272727;
    font-size: 14px;
    margin: 10px 10px 10px 10px;
}

.dados-imovel{
	width: 100%;
    /* float: left; */
    background-color: whitesmoke;
    border: 1px solid #e0e0e0;
    /* margin: 10px 0px 0px 0px; */
    padding: 10px 10px 10px 10px;
	display: inline-block;
}

.caracteristica_imovel{
	/*float: left;*/
    width: 23%;
    /*border: 1px solid #d8d8d8;*/
    font-family: arial;
    font-size: 13px;
    padding: 4px 0px 4px 0px;
	display: inline-block;
}

.foto_imovel img {
	width: 100%;
	height: auto;
}

.no-padding {padding:0px;}
.no-padding-left {padding-left:0px;}
.no-padding-right {padding-right:0px;}

@media only screen and (max-width: 992px) {
	.no-padding-left {padding-left:15px !important;}
	.no-padding-right {padding-right:15px !important;}
}